body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: calc(100vh - 88px - 72px);
}


.product-card {
  min-height: 40%;
  height: 95%;
}

#loader {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
}